/*
*  html5resetcss
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input,
select {
    vertical-align: middle
}

/* ROOT VARIABLES */
:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);

    --regular: 500;
    --bold: 800;
}

/* GLOBAL STYLES */
body {
    min-width: 375px;
    width: 100vw;
    height: 100vh;
    font-family: "Figtree", sans-serif;
    font-weight: var(--regular);
    color: var(--gray-950);
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    width: 75%;
    background-color: var(--white);
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 20px;
    border: 1px solid var(--gray-950);
    box-shadow: 10px 10px var(--gray-950);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section:first-of-type {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

section:first-of-type img {
    width: 110%;
    height: auto;
}

.cover {
    object-fit: cover;
}

#block {
    background-color: var(--yellow);
    padding: 0.5rem 0.75rem;
    font-weight: var(--bold);
    font-size: 0.85rem;
    border-radius: 6px;
    margin: 1.25rem 0 0.25rem 0;
    display: inline-block;
}

section:nth-of-type(2) p {
    font-size: 0.8rem;
    margin: 0.75rem 0;
}

h1 {
    font-weight: var(--bold);
    font-size: 1.35rem;
    margin: 0.6rem 0 0.9rem 0;
}

h1:hover {
    color: var(--yellow);
}

section:nth-of-type(3) p {
    color: var(--gray-500);
    margin: 0.8rem 0;
    line-height: 1.25rem;
    font-size: 0.9rem;
}

#author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 0.75rem;
}

#author img {
    width: 2.25rem;
}

#author span {
    font-weight: var(--bold);
    font-size: 1rem;
}

footer {
    margin-top: 1rem;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* MEDIA QUERY (desktop) */
@media screen and (min-width:1440px) {

    main,
    footer {
        max-width: 300px;
    }
}